<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">

    <div class="card" data-toggle="tooltip" title = "<%= descriptions.CompressionPerpendicularToTheGrain.BeamCompression %>" >
      <div class="card-body">
        <a href="/CompressionPerpendicularToTheGrain/BeamCompression" >
          <img class="card-img-top" src="/img/CompresionPerpendicularToTheGrain/BeamCompression/BeamCompression_ICO310x310.png" alt="">
        </a>
        <h5 class="card-title text-center">Compression Perpendicular Beam.</h5>
        <a href="/CompressionPerpendicularToTheGrain/BeamCompression" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">
    <div class="card" data-toggle="tooltip" title= "<%= descriptions.CompressionPerpendicularToTheGrain.EndSleeperBeam %>">
      <div class="card-body">
        <a href="/CompressionPerpendicularToTheGrain/EndSleeperBeam" data-toggle="tooltip">
          <img class="card-img-top" src="/img/CompresionPerpendicularToTheGrain/EndSleeperBeam/EndSleeperBeam_ICO310x310.png" alt="">
        </a>
        <h5 class="card-title text-center">End Sleeper Beam.</h5>
        <a href="/CompressionPerpendicularToTheGrain/EndSleeperBeam" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">
    <div class="card" data-toggle="tooltip" title= "<%= descriptions.CompressionPerpendicularToTheGrain.EndSleeperPillar %>">
      <div class="card-body">
        <a href="/CompressionPerpendicularToTheGrain/EndSleeperPillar">
          <img class="card-img-top" src="/img/CompresionPerpendicularToTheGrain/EndSleeperPillar/EndSleeperPillar_Ico310x310.png" alt="">
        </a>
        <h5 class="card-title text-center">End Sleeper Pillar.</h5>
        <a href="/CompressionPerpendicularToTheGrain/EndSleeperPillar" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">
    <div class="card" data-toggle="tooltip" title= "<%= descriptions.CompressionPerpendicularToTheGrain.MiddleSleeperPillar %>">
      <div class="card-body">
        <a href="/CompressionPerpendicularToTheGrain/MiddleSleeperPillar">
          <img class="card-img-top" src="/img/CompresionPerpendicularToTheGrain/MiddleSleeperPillar/MiddleSleeperPillar_ICO310x310.png" alt="">
        </a>
        <h5 class="card-title text-center">Middle Sleeper Pillar</h5>
        <a href="/CompressionPerpendicularToTheGrain/MiddleSleeperPillar" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">
    <div class="card" data-toggle="tooltip" title= "<%= descriptions.CompressionPerpendicularToTheGrain.MiddleSleeperBeam %>">
      <div class="card-body">
        <a href="/CompressionPerpendicularToTheGrain/MiddleSleeperBeam">
          <img class="card-img-top" src="/img/CompresionPerpendicularToTheGrain/MiddleSleeperBeam/MiddleSleeperBeam_ICO310x310.png" alt="">
        </a>
        <h5 class="card-title text-center">Middle Sleeper Beam</h5>
        <a href="/CompressionPerpendicularToTheGrain/MiddleSleeperBeam" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">
    <div class="card" data-toggle="tooltip" title= "<%= descriptions.CompressionPerpendicularToTheGrain.EndDiscreteSupport %>">
      <div class="card-body">
        <a href="/CompressionPerpendicularToTheGrain/EndDiscreteSupport">
          <img class="card-img-top" src="/img/CompresionPerpendicularToTheGrain/EndDiscreteSupport/EndDiscreteSupport_ICO310x310.png" alt="">
        </a>
        <h5 class="card-title text-center">End Discrete Support</h5>
        <a href="/CompressionPerpendicularToTheGrain/EndDiscreteSupport" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">
    <div class="card" data-toggle="tooltip" title= "<%= descriptions.CompressionPerpendicularToTheGrain.AllCases %>">
      <div class="card-body">
        <a href="/CompressionPerpendicularToTheGrain">
          <img class="card-img-top" src="/img/CompresionPerpendicularToTheGrain/AllCases/AllCases_ICO310x310.png" alt="">
        </a>
        <h5 class="card-title text-center">All cases</h5>
        <a href="/CompressionPerpendicularToTheGrain" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>

</div>
